* {
  max-width: 100%;
  box-sizing: border-box;
}

.dark-mode {
    color: #fff;
    background: #313843;
}

.toggle {
    border: none;
    background: none;
    font-size: 1.5rem;
    position: fixed;
}

.toggle:hover {
    cursor: pointer;
}

.card-container {
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 23%;
    height: 200px;
}