* {
  max-width: 100%;
  box-sizing: border-box;
}

.dark-mode {
    color: #fff;
    background: #313843;
}

.card-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 23%;
    height: 200px;
}